@import "./base.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
}


  body {
    display: flex;
  }
